name: "CI - Backend"

on:
  push:
    branches: [ "main", "develop" ]
    paths:
      - 'src/**'
      - 'package.json'
      - 'tsconfig.json'
      - '.github/workflows/ci-backend.yml'
  pull_request:
    branches: [ "main", "develop" ]
    paths:
      - 'src/**'
      - 'package.json'
      - 'tsconfig.json'

jobs:
  build-and-test:
    name: Build and Test Backend
    uses: ./.github/workflows/reusable/bun-workflow.yml
    with:
      working-directory: '.'
      bun-version: 'latest'
      install: 'true'
      run-lint: 'true'
      run-typecheck: 'true'
      run-test: 'true'
      tests-continue-on-error: 'true'
      run-build: 'true'
